<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Connexion - Espace personnel') }}</title>
    <link rel="stylesheet" href="../static/css/sign-in.css">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='assets/home_button.png') }}" alt="{{ _('Icon') }}" class="top-left-icon">
    </a>
    <div class="container">
        <div class="left-section">
            <h1>{{ _('Explorez') }} <br> {{ _('la segmentation avancée') }}</h1>
            <img src="{{ url_for('static', filename='assets/sign-inSvg.svg') }}" alt="{{ _('Illustration login') }}">
        </div>
        <div class="right-section">
            <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <h2>{{ _('Se Connecter') }}</h2>
            <!-- Fix form action -->
            <form action="{{ url_for('login') }}" method="post">
                <input type="text" name="email" placeholder="{{ _('Email') }}" required>
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="{{ _('Mot de passe') }}" required>
                    <i class="fa-solid fa-eye toggle-password" onclick="togglePasswordVisibility()"></i>
                </div>
                <button type="submit">{{ _('Se Connecter') }}</button>
            </form>
            <p><a href="#" id="forgot-password-link">{{ _('Mot de passe oublie ?') }}</a></p>
            <p><a href="{{ url_for('signup') }}">{{ _("Vous n'avez pas de compte ?") }}</a></p>
        </div>
    </div>
</body>
<script> 
    // Fonction pour afficher la pop-up
    function showForgotPasswordPopup() {
        alert("Veuillez contacter l'administration de votre institut pour reinitialiser votre mot de passe.");
    }

    // Ajouter un ecouteur d'evenement au lien "Mot de passe oublie"
    document.getElementById("forgot-password-link").addEventListener("click", function(event) {
        event.preventDefault(); // Empecher le comportement par defaut du lien
        showForgotPasswordPopup(); // Afficher la pop-up
    });
</script>

<script>
    //script for show/hide password
function togglePasswordVisibility() {
    const passwordInput = document.getElementById('password');
    const toggleIcon = document.querySelector('.toggle-password');
    const isPassword = passwordInput.type === 'password';
    
    passwordInput.type = isPassword ? 'text' : 'password';
    toggleIcon.classList.toggle('fa-eye');
    toggleIcon.classList.toggle('fa-eye-slash');
}
</script>
<script>
    // Auto-hide flash messages after 2 seconds
    document.addEventListener('DOMContentLoaded', function() {
        const flashMessages = document.querySelectorAll('.alert');
        flashMessages.forEach(message => {
            setTimeout(() => {
                message.style.opacity = '0';
                setTimeout(() => message.remove(), 500); // Remove after fade out completes
            }, 2500); // 2.5 seconds
        });
    });
</script>

</html>