# Ignore all .pth, .pt, pt5 files
*.pth
*.pt
*.pt5
*.sql

# Ignore folders content but keep structure
uploads/*
!uploads/.gitkeep

DRIVE_dataset/*
!DRIVE_dataset/.gitkeep

model_utils/*
!model_utils/.gitkeep

images/*
!images/.gitkeep

stored_models/*
!stored_models/.gitkeep
