<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ _('BassarCare') }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Ajout de jsPDF et html2canvas pour l'export PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Auto-dismiss flash messages after 1.5 seconds
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(alert => {
        setTimeout(() => {
          alert.classList.add('fade-out');
          setTimeout(() => {
            alert.remove();
          }, 500); // Matches the fadeOut animation duration
        }, 1500); // Display for 1.5 seconds
      });
    });
  </script>
</head>
<body>
  <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Close') }}"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
  </div>
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="{{ url_for('static', filename='assets/new_logo.png') }}" alt="{{ _('BassarCare Logo') }}">
      </div>
     
      <button id="hamburger" class="hamburger" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="nav-links">
        <li><a href="#accueil">{{ _("Page d'Accueil") }}</a></li>
        <li><a href="#features">{{ _('Services') }}</a></li>
        <li><a href="#fonctionnement">{{ _('Guide') }}</a></li>
        <li><a href="#pourquoi">{{ _('Public sible') }}</a></li>
        <li><a href="#contact">{{ _('Contactez Nous') }}</a></li>
      </ul>
      <div class="lang-dropdown">
  <button type="button" class="lang-trigger" id="langToggle">
    <i class="fa-solid fa-globe"></i>
    <span class="lang-current">
      {% if session.get('lang', 'fr') == 'ar' %}
        AR
      {% elif session.get('lang', 'fr') == 'en' %}
        EN
      {% else %}
        FR
      {% endif %}
    </span>
    <i class="fa-solid fa-chevron-down lang-chevron"></i>
  </button>

  <div class="lang-menu" id="langMenu">
    <a href="{{ url_for('set_language', lang='fr') }}">Français</a>
    <a href="{{ url_for('set_language', lang='en') }}">English</a>
    <a href="{{ url_for('set_language', lang='ar') }}">العربية</a>
  </div>
</div>
      <div class="nav-button">
        <a href="{{ url_for('login') }}" class="btn-essayer">{{ _('Se connecter') }}</a>
        <a href="{{ url_for('signup') }}" class="btn-essayer">{{ _("S'inscrire") }}</a>
      </div>
    </nav>
  </header>

  <section id="accueil" class="hero">
    <div class="hero-content">
      <h1>{{ _('Diagnostic de la rétine') }} <br> <span class="auto-type"></span> </h1>
      <p>{{ _('Téléchargez simplement votre image, et notre IA avancée') }} <br> {{ _('fait le reste pour vous fournir une analyse claire, rapide et précise.') }} <br> {{ _('Profitez d’une solution efficace pour accompagner vos décisions médicales.') }}</p>
      <div class="hero-buttons">
        <a href="{{ url_for('signup') }}" class="btn-commencer">{{ _('Commencer') }}</a>
        <a href="#features" class="btn-en-savoir-plus">{{ _('En savoir plus') }}</a>
      </div>
    </div>
  </section>
 

  <section id="features" class="features-section">
  <div class="container">
    <h2 class="fsection-title">{{ _('Nos Services') }}</h2>
    <p class="section-subtitle">
      {{ _('Découvrez tout ce que notre plateforme vous offre pour faciliter l’analyse des images rétiniennes et améliorer la précision de vos diagnostics.') }}
    </p>
    <div class="features-grid">

      <!-- Feature 1 -->
      <div class="feature-box">
        <img src="{{ url_for('static', filename='assets/eyeball.png') }}" alt="{{ _('Segmentation') }}" class="feature-icon2" />
        <h3 class="feature-title">{{ _('Segmentation de la rétine') }}</h3>
        <p class="feature-description">{{ _('Identifiez avec précision les structures rétiniennes grâce à des modèles de intelligence artificielle. Facilitez l’analyse médicale en quelques clics.') }}</p>
      </div>

      <!-- Feature 2 -->
      <div class="feature-box">
        <img src="{{ url_for('static', filename='assets/retina.png') }}" alt="{{ _('Classification') }}" class="feature-icon2" />
        <h3 class="feature-title">{{ _('Détection du glaucome') }}</h3>
        <p class="feature-description">{{ _('Détectez automatiquement les signes de glaucome à partir d’images rétiniennes. Un gain de temps et de fiabilité pour les praticiens.') }}</p>
      </div>

      <!-- Feature 3 -->
      <div class="feature-box">
        <img src="{{ url_for('static', filename='assets/medical-report.png') }}" alt="{{ _('Rapport') }}" class="feature-icon" />
        <h3 class="feature-title2">{{ _('Métriques & rapports') }}</h3>
        <p class="feature-description">{{ _('Accédez à des indicateurs clés (IoU, Dice, précision…) pour évaluer vos résultats et suivre la performance des modèles utilisés.') }}</p>
      </div>

      <!-- Feature 4 -->
      <div class="feature-box">
        <img src="{{ url_for('static', filename='assets/pdf-file.png') }}" alt="{{ _('Export PDF') }}" class="feature-icon" />
        <h3 class="feature-title3">{{ _('Export PDF') }}</h3>
        <p class="feature-description">{{ _('Générez des rapports clairs au format PDF incluant images, résultats et métriques, prêts à être partagés ou archivés facilement.') }}</p>
      </div>

    </div>
  </div>
</section>

  <section id="fonctionnement" class="galaxy-works-section">
  <div class="featcontainer">
    <h2 class="section-title">{{ _('Comment') }} <span class="highlight">{{ _('BassarCare') }}</span> {{ _('fonctionne') }}</h2>
    <div class="steps">
      <div class="step">
        <img src="{{ url_for('static', filename='assets/vision.gif') }}" alt="{{ _('Capture images icon') }}" class="step-icon" />
        <h3>{{ _('Uploader vos images') }}</h3>
        <p>{{ _('Importez facilement vos images de rétine en un seul clic depuis votre appareil.') }}</p>
      </div>
      <div class="step">
        <img src="{{ url_for('static', filename='assets/view.gif') }}" alt="{{ _('Analyzes images icon') }}" class="step-icon" />
        <h3>{{ _('Analyser et prédire les résultats') }}</h3>
        <p>{{ _('BassarCare identifie les anomalies rétiniennes en moins de 10 secondes grâce à l’IA.') }}</p>
      </div>
      <div class="step">
        <img src="{{ url_for('static', filename='assets/chart.gif') }}" alt="{{ _('Diagnostic report icon') }}" class="step-icon" />
        <h3>{{ _('Exporter vos résultats') }}</h3>
        <p>{{ _('Indique si la rétine présente des signes de maladie ou non.') }}</p>
      </div>
    </div>
  </div>
</section>


<section id="pourquoi" class="retina-ai-section">
  <div class="container">
    <h2>{{ _('Public cible') }}</h2>
    
    <div class="tabs">
      <button class="tab-btn active" data-tab="pcps">{{ _('Médecins praticiens') }}</button>
      <button class="tab-btn" data-tab="insurers">{{ _('Cliniques médicales') }}</button>
      <button class="tab-btn" data-tab="patients">{{ _('Étudiants et professeurs universitaires') }}</button>
    </div>
    
    <div class="tab-content active" id="pcps-content">
      <div class="content-wrapper">
        <div class="text-content">
          <h3>{{ _('Ophtalmologistes, médecins de famille :') }}</h3>  <p>{{ _('Profitez d’un outil fiable pour confirmer ou affiner vos diagnostics.') }}
            {{ _('Gagnez en précision clinique et améliorez la prise en charge de vos patients en toute confiance.') }}
          </p>
           <br><br>
          <a href="{{ url_for('signup') }}">
            <button class="cta-btn">{{ _('Je suis intéressé(e)') }}</button>
          </a>
        </div>
        <div class="image-content">
          <img src="{{ url_for('static', filename='assets/Physicians2.jpeg') }}" alt="{{ _('PCPs benefits') }}">
        </div>
      </div>
    </div>
    
    <div class="tab-content" id="insurers-content">
      <div class="content-wrapper">
        <div class="text-content">
          <h3>{{ _('Saisissez l’opportunité :') }}</h3>
          <ul>
            <li><input type="checkbox" disabled>{{ _('de contrôler la qualité des services médicaux.') }}</li>
            <li><input type="checkbox" checked disabled>{{ _('de réduire le temps consacré par le personnel à l’examen des patients.') }}</li>
            <li><input type="checkbox" checked disabled>{{ _('d’impliquer les patients atteints de maladies chroniques nécessitant un suivi régulier.') }}</li>
          </ul>
          <a href="{{ url_for('signup') }}">
            <button class="cta-btn">{{ _('Je suis intéressé(e)') }}</button>
          </a>
        </div>
        <div class="image-content">
          <img src="{{ url_for('static', filename='assets/clinics.jpeg') }}" alt="{{ _('Insurers benefits') }}">
        </div>
      </div>
    </div>
    
    <div class="tab-content" id="patients-content">
      <div class="content-wrapper">
        <div class="text-content">
          <p>
            <h3>{{ _('Étudiants en médecine, internes et Professeurs universitaires :') }}</h3>  {{ _('Testez et améliorez vos compétences dans le diagnostic des pathologies rétiniennes.') }} <br>
            {{ _('Accédez à des cas concrets pour renforcer vos connaissances et affiner votre expertise en ophtalmologie.') }}
          </p>
          <br><br>
          <a href="{{ url_for('signup') }}">
            <button class="cta-btn">{{ _('Je suis intéressé(e)') }}</button>
          </a>
        </div>
        <div class="image-content">
          <img src="{{ url_for('static', filename='assets/students.jpeg') }}" alt="{{ _('Patient benefits') }}">
        </div>
      </div>
    </div>
  </div>
</section>


<section id="contact" class="contact-section">
  <div class="contact-container">
    <h2 class="section-title">{{ _('Contactez-nous') }}</h2>
    <div class="contact-content">
      
      <!-- Left: Contact Info -->
      <div class="contact-info">
        <div class="about-us">
          <h3>{{ _('À propos de nous') }}</h3>
          <p>{{ _('BassarCare est une plateforme d’IA qui permet de segmenter et classifier') }} 
            {{ _('les images de la rétine pour détecter automatiquement la présence de maladies oculaires.') }}
            {{ _('Elle offre un outil rapide, intuitif et fiable pour assister les professionnels de santé') }} 
            {{ _('dans leurs diagnostics.') }}</p>
        </div>
        <p><i class="fas fa-map-marker-alt"></i> Campus  Mghilla,  BP 523 <br> Béni Mellal 23000</p>
        <p><i class="fas fa-phone"></i> +212 600000000</p>
        <p><i class="fas fa-envelope"></i> contact@BassarCare.com</p> 
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fas fa-cog"></i></a>
        </div>
      </div>

      <!-- Right: Contact Form -->
      <div class="contact-form">
        <form method="POST" action="/contact">
          <input type="text" placeholder="{{ _('Nom') }}" name="name" required>
          <input type="email" placeholder="{{ _('Email') }}" name="email" required>
          <textarea name="message" placeholder="{{ _('Écrivez votre message ici') }}" rows="5" required></textarea>
          <button type="submit">{{ _('Envoyer') }}</button>
        </form>
      </div>

    </div>
  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabBtns = document.querySelectorAll('.tab-btn');
    
    tabBtns.forEach(btn => {
      btn.addEventListener('click', function() {
        // Remove active class from all buttons and content
        document.querySelectorAll('.tab-btn').forEach(b => b.classList.remove('active'));
        document.querySelectorAll('.tab-content').forEach(c => c.classList.remove('active'));
        
        // Add active class to clicked button
        this.classList.add('active');
        
        // Show corresponding content
        const tabId = this.getAttribute('data-tab') + '-content';
        document.getElementById(tabId).classList.add('active');
      });
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

  <script>
    var typed = new Typed(".auto-type",{
      strings : ["{{ _('en un seul clic!') }}", "{{ _('100%% automatisé!') }}", "{{ _('en quelques secondes!') }}"],
      typeSpeed : 170,
      backSpeed : 195,
      loop : true
    })
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const langToggle = document.getElementById('langToggle');
      const langMenu = document.getElementById('langMenu');

      if (langToggle && langMenu) {
        langToggle.addEventListener('click', function (e) {
          e.stopPropagation();
          langMenu.classList.toggle('show');
        });

        document.addEventListener('click', function (e) {
          if (!langMenu.contains(e.target) && !langToggle.contains(e.target)) {
            langMenu.classList.remove('show');
          }
        });
      }
    });
  </script>
  
</body>
</html>